body {
  font-family: Verdana;
  margin: 0px;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto 1fr;
  grid-template-rows: auto 1fr 1fr 1fr; }
  body #contact {
    padding: 0rem 2rem;
    width: calc(100% - 4rem);
    grid-column: span 2;
    border-bottom: 1px solid black;
    align-self: stretch;
    justify-content: center;
    display: flex;
    flex-direction: column; }
    body #contact .name {
      font-size: 4rem;
      padding: 2rem 0rem; }
    body #contact span {
      display: block;
      font-size: 1.5rem;
      padding: 0.5rem 0rem; }
      body #contact span:last-of-type {
        padding-bottom: 2rem; }
  body .school {
    display: flex;
    flex-direction: row;
    grid-column: span 3;
    border-bottom: 1px solid black;
    align-self: stretch; }
    body .school .details {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: right;
      text-align: right; }
  body .skill_list {
    list-style-type: none;
    margin: 0;
    padding: 2rem;
    flex-grow: 1;
    grid-row: span 3;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    body .skill_list ul li:not(:last-child) {
      margin-bottom: 0.2rem; }
    body .skill_list li {
      list-style-type: none;
      font-size: 1.5rem; }
  body .responsibilities, body .company {
    grid-column: span 2;
    margin: 0; }
    body .responsibilities:not(:last-of-type), body .company:not(:last-of-type) {
      border-bottom: 1px solid black; }
  body img {
    width: 10rem;
    height: 10rem;
    padding-right: 2rem;
    align-self: center;
    justify-self: right; }
  body .details {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    body .details span {
      display: block;
      margin: 0.5rem 0rem; }
    body .details .title {
      font-size: 2rem; }
    body .details li:not(:last-child) {
      margin-bottom: 1rem; }
    body .details li:before {
      display: table-cell;
      text-align: right;
      padding-right: .3em; }
    body .details .detail {
      font-size: 1.5rem; }
  body .responsibilities {
    padding-left: 0; }
