body {
    font-family:Verdana;
    margin: 0px;
    display: flex;
    height: 100%;
    #contact_skills {
        background-color: rgb(226, 112, 112);
        display: flex;
        flex-direction: column;

        #contact {
            padding: 0rem 2rem;
            width:calc(100% - 4rem);
            background-color: #00DDDD;

            .name {
                font-size: 4rem;
                padding: 2rem 0rem;
            }

            span {
                display: block;
                font-size: 1.5rem;
                padding: 0.5rem 0rem;

                &:last-of-type {
                    padding-bottom: 2rem;
                }
            }
        }

        .skill_list {
            list-style-type: none;
            margin: 0;
            padding: 2rem;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            li {
                flex-grow: 1;
                font-size: 1.5rem;
            }
        }
    }

    #experience {
        flex-grow: 1;
        background-color: #FF00FF;
    }
}
